
/*----------------------------------------------------
Flash message
-----------------------------------------------------*/
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
}

h1, h2, h3, footer{
  text-align: center;
}
.jumbotron{
  padding: 3em, 1.5em, 1.5em, 1em;
  padding: 20px;
  margin-top: 0px;
  background-color: #F0FFFF;
  text-align:center;
}
ul{
  list-style-type: none;
}
#validationError{
  color:red;
  font-weight: bold;
}

.image{
  margin: 3em;
  width: 500px;
  float: left;
}

.thumbnail{
overflow: hidden;
}

.narrowBody{
  margin: 50px;
}
body{
  padding-top: 52px;
}
.container{
  margin: 50px;
  width: 100%;
}